<div class="publication-detail-wrapper">
    <div class="publication card">    
        <div class="pub-detail-header">
            <div class="username">/user_name</div>
            <div class="title">pub_title</div>
        </div>
        <div class="pub-detail-content">
            mlekmkcemùakea,ml)mùe)l,ml; me;am l mù;eùm mù;zmùl)lù;e
            l*l;)le;zl;e e le ; l);e l;e)l;ecl;eml; )l;e ;e )ml;)l;ezmùlùml;ee ù;ea;em;e ml; l
            le;zl;e e le ; l);e l;e)l;ecl;eml; )l;e ;e )ml;)l;ezmùlùml;ee ù;ea;e
            le;zl;e e le ; l);e l;e)l;ecl;eml; )l;e ;e )ml;)l;ezmùlùml;ee ù;ea;e
            le;zl;e e le ; l);e l;e)l;ecl;eml; )l;e ;e )ml;)l;ezmùlùml;ee ù;ea;e
        </div>
        <hr class="horizontal-line">
        <div class="pub-detail-footer">
            <div class="likes footer-section">
                <fa-icon class="fa-lg" [icon]="likesIcon"></fa-icon>
                <span>0</span>         
            </div>
            
            <div class="dislikes footer-section">
                <fa-icon class="fa-lg" [icon]="dislikesIcon"></fa-icon>
                <span>0</span>     
            </div>
            
            <div class="comments footer-section">
                <fa-icon class="fa-lg" [icon]="commentsIcon"></fa-icon>
                <span>0</span>     
            </div>
        </div>
    </div>
    <div class="comment-section">
        <div class="comments-header">
            comments
        </div>
        <div class="comment-list">
            <app-comment *ngFor="let comment of commentList"></app-comment>
        </div>
    </div>
</div>