<div class="comment-wrapper card">
    <div class="comment-header">
        <p class="username">user_name</p>
    </div>
    <div class="comment-content-wrapper">
        <p class="comment-text">{{commentText}}</p>
    </div>
    <div class="react-section">
        <div class="react-wrapper like transition-2s">
            <fa-icon class="fa-lg" [icon]="likeIcon"></fa-icon>           
        </div>
        <div class="react-wrapper dislike transition-2s">
            <fa-icon class="fa-lg" [icon]="dislikeIcon" ></fa-icon>           
        </div>
        <div class="react-wrapper laugh transition-2s">
            <fa-icon class="fa-lg" [icon]="laughIcon" ></fa-icon>           
        </div>
        <div class="react-wrapper angry transition-2s">
            <fa-icon class="fa-lg" [icon]="angryIcon" ></fa-icon>           
        </div>
        <div class="react-wrapper sad transition-2s">
            <fa-icon class="fa-lg" [icon]="sadIcon" ></fa-icon>           
        </div>
    </div>
</div>