<div class="publication-wrapper card transition-2s">

    <div class="pub-header">
        <div class="username">/user_name</div>
        <div class="title">{{title | titlecase}}</div>        
    </div>
    <div class="pub-content">
        {{description}}
    </div>
    <hr class="horizontal-line">
    <div class="pub-footer">
        <div class="likes footer-section">
            <fa-icon class="fa-lg" [icon]="likesIcon"></fa-icon>
            <span>0</span>         
        </div>
        
        <div class="dislikes footer-section">
            <fa-icon class="fa-lg" [icon]="dislikesIcon"></fa-icon>
            <span>0</span>     
        </div>
        
        <div class="comments footer-section">
            <fa-icon class="fa-lg" [icon]="commentsIcon"></fa-icon>
            <span>0</span>     
        </div>
    </div>
</div>